/node_modules
/public/storage
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env*
.php_cs.cache
*.geany
public/css/*.css
public/js/*.js
public/fonts/
public/mix-manifest.json
resources/assets/bower/
storage/fann/
storage/locks/
storage/dumps/
*/GTrader/Strategies/Unreleased
.bash*
.serenata
.config
.npm
.composer
.nano
.bash*
.*_history
php-meminfo-analyzer/
