/node_modules
/public/storage
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env*
.notes*
*.geany
public/css/*.css
public/js/*.js
public/fonts/
public/mix-manifest.json
resources/assets/bower/
storage/fann/
storage/locks/
