
// Fonts
//@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.navbar {
    margin-bottom: 0;
    min-height: 0;
}

.navbar-nav li a {
    margin-top: 2px;
    padding-top: 3px;
    padding-bottom: 3px;
    line-height: 21px;
}

h3 {
    margin-bottom: 17px;
}

.btn-primary {;
    border: 1px solid #222;
}

.btn-primary:hover {
    background-color: #333;
}

.btn-mini {
    height: 30px;
    font-size: 11px;
}

select.btn {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    padding-right: 16px;
}

select.btn-mini + .caret {
    margin-left: -20px;
    margin-top: 2px;
}

.modal-dialog {
    min-width: 310px;
    width: 50%;
}

.modal-header {
    background-color: #222;
    -webkit-border-radius: 5px 5px 0 0;
       -moz-border-radius: 5px 5px 0 0;
            border-radius: 5px 5px 0 0;
    color: #ccc;
    border-bottom: 1px solid #333;
}

.modal-content {
    background-color: #222;
    color: #ccc;
}

.modal-footer {
    border-top: 1px solid #333;
}

.npl {
    padding-left: 0;
}

.npr {
    padding-right: 0;
}

label {
    font-weight: normal;
}

.lm5 {
    margin-left: 5px;
}

.lm10 {
    margin-left: 10px;
}

.row.bdr-rad {
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #111;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
}

.noUi-target {
    background: rgba(30, 30, 30, 0);
    border: 0px;
    border-radius: 0px;
    box-shadow: none;
}

.noUi-target:hover {
    cursor: crosshair;
}
.noUi-handle {
    //display: none;
    height: 162px !important;
    background: none;
    width: 10px !important;
    left: -5px !important;
    top: 0 !important;
    background: rgba(200, 200, 30, 0.5);
    border: 1px solid rgba(200, 200, 30, 0.5);
    box-shadow: none;
}

.noUi-handle:before,
.noUi-handle:after {
    display: none;
}

.noUi-handle:hover {
    cursor: col-resize;
}

.noUi-connect {
    background: rgba(200, 200, 30, 0.05);
    border: 1px 0 solid rgba(200, 200, 30, 0.5);
}

.noUi-connect:hover {
    cursor: col-resize;
}
